@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=PT+Sans&display=swap');

body{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
}

body.modal-open{
	overflow: hidden;
}

.loading{
	width: 50%;
	height: 100%;
	object-fit: none;
}

.hidden{
	display: none;
}

#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header{
	user-select: none;
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	color: #964B00;
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	margin: 13px 0px;
}

#tabs{
	display: flex;
	font-size: 22px;
	gap: 30px;
}

.cursor{
	cursor: pointer;
}

#introduction{
	font-family: 'Nunito';
	font-size: 18px;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-content: center;
	border: 5px groove #964B00;
	border-radius: 30px;
	padding: 10px;
	gap: 90px;
	margin: 10px;
}

#welcome_container{
	flex-basis: 50%;
	align-self: center;
}

#welcome{
	display: flex;
	flex-wrap: wrap;
	font-size: 38px;
}

#subtext{
	margin-top: 10px;
	color:#964B00 ;
	font-size: 20px;
}

.page_style{
	min-height: 75vh;
	background: url(../dist/imgs/image_1.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/* Mint DOM info */

#mintDOM{
	padding: 20px;
	gap: 25px;
}

#mint-form{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#mint-form input{
	width: 100%;
}

#royalty-title{
	display: flex;
	justify-content: space-between;
}

#add-royalty{
	border: 1px solid #964B00;
}

#royalty-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#royalty-field{
	width: 100%;
	display: flex;
	gap: 5px;
}

/* Preview page */

#preview_page{
	background: url(../dist/imgs/image_2.jpg);
	background-size: cover;
	padding: 30px;
}

.contract_name{
	text-decoration: underline;
	text-align: center;
}

#contract-form{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#add_contract_block{
	border: 5px outset #85586F;
	background : rgba(100, 100, 250, 0.3);
	border-radius: 10%;
	padding: 15px;
}

/* Tokens Tab*/

#token_contract_block{
	display: flex;
	gap: 5px;
}

.close{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FC4F4F;
	padding: 3px;
	margin-bottom: auto;
	width: 2vh;
	height: 2vh;
	border-radius: 50%;
}

/* Fixed width for the tokens container */
.tokens{
	width: 90%;
}

#tokenContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 32%;
	height: 200px;
	padding: 0.5% 0;
	border-radius: 5%;
	border: 1px solid #9c92ac;
}

.token_tab_items_bg{
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23a88ed0' fill-opacity='0.21'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sale_tab_items_bg{
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23a88ed0' fill-opacity='0.21' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.auction_tab_items_bg{
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23a88ed0' fill-opacity='0.21'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.anchor_bg{
	background-size: initial;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23219f73' fill-opacity='0.32' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");}

.token_image{
	width: 80%;
	height: 80%;
	object-fit: contain;
}

.token_static_info{
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.token_main_text{
	font-size: 20px;
}

.token_subtext{
	font-size: 12px;
	font-weight: 10;
}
/* Modal props */

.modal_bg{
	width:100%;
	height:100vh;
	background-color :rgba(0,0,0,0.7);
	position:fixed;
	top: 0;
	z-index: 1;
	display:flex;
	justify-content:center;
	align-items:center; 
	overflow: auto;
}

.modal{
	font-size: 3.5vh;
	background-color:white;
	border-radius: 1vh;
	display: flex;
	padding: 3vh 2vw;
	justify-content: center;
	align-items: center;
	gap: 4vw;
	overflow-y: auto;
}

.modal_inputs{
	height: auto;
	width: 50%;
}

#close_modal:hover{
	background-color: #FC4F4F;
	color: white;
}

/* Storage section */

#storage_tab{
	padding: 30px;
}

.storage_subtext{
	font-size: 13px;
}

/* Sale items style */
.item_info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 70%;
}

.item_owner{
	text-decoration: underline;
}

.item_bid{
	color:#964B00 ;
}

/* Buttons and their hover*/

button{
	font-family: 'Nunito';
	background: white;
	color: #964B00;
	border: 2px solid #964B00;
	cursor: pointer;
	text-decoration: none;
}

button:hover {
		box-shadow: 1px 1px 1px black;
}

/*------*/
#body_container{
	margin: 40px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#body_title{
	font-size: 30px;
}

#provoke_login{
	background: #E83A14;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#items{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 15px;
	border: 5px groove #964B00;
	border-radius: 30px;
	align-items: center;
	margin: 10px;
}

#tc_content{
	width: 70%;
	border-radius: 20px;
	border : 3px solid #446A46;
	padding: 2px;
}

#pagination_container{
	display: flex;
	gap: 100px;
}


/* Footer */

#footer{
	font-family: 'Nunito';
	display: flex;
	font-size: 18px;
	font-weight: 700;
    margin-bottom: 8px;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 10px;
}

#footer_content{
	padding: 0 5px;
	text-decoration: underline;
}